# api id and api hash (my.telegram.org)
# required
API_ID='943466'
API_HASH='c7fe3a7d67189bd9f4558938232c9357'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQAOZWoAfCDqBl83mFfwgWBMwJjSiHAdFGjrHitZnzqeuUleul-xRwiiozAzrcGYY1RgFzpCJC7--XC0KcK2QQrHscXKiJaNqW4eaQfTI24NQHthkBbQrf92nZ4P7SmJdxBkAqzkDt3qfLMhjNraL23d6EKD4tdj6jmg_rFj0dbXycUCDJ4eC1rwoxz22p1yYssRjiDsI10UMalmZOXWGF0jm00q91gmX_VXxQyMFgCeTWWh7MNZSwhrnKIUSbI09GX9fG4cUddPJlxZ-tpnCrSFP8nWGycnP-0MD9QEFZ-zN5Xpq438akE6oPggRhA46WcultBaLbRDoUN06XeYUc76Cn-aiQAAAAF_sgkDAA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='7812698080:AAGONHXiiGumubOT7Lvagrw9SKKiNhrmPNo'

# sudo user ids (separate with space)
# optional
SUDOERS='6437341443'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID='52362f20806c42d3938cc7dcba899ab5'
SPOTIFY_CLIENT_SECRET='523fd27a6fee4d55b39cf3585eb2ed80'
